{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h3 class="thin-heading mb-4">Процесс скачивания файла успешно запущен, и мы отправим вам MP3 файл на вашу электронную почту.</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12"> 
                  <a href="{% url 'index' %}"><button class="btn btn-primary rounded-0 py-2 px-4">Главная Страница</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}